<%= form_for(@comment) do |form| %>

  <p>
    <strong>Comment:</strong>
    <%= @comment.comment %>
  </p>

  <p>
    <strong>Assigned To:</strong>
    <%= @comment.user_id %>
  </p>

<% end %>
<%= link_to 'Back', userprojects_path(id: @userproject.project_id) %>
