<% if @tasks == [] %>
  <p> No task assigned</p>
<% else %>
  <% @tasks.each do |task| %>
    <p>
      <strong>Task Description:</strong>
      <%= task.description %>
    </p>

    <p>
      <strong>Assigned By:</strong>
      <%= task.assigned_by %>
    </p>
    <% if task.user_id == current_user.id %>
      <%= link_to 'comments', new_comment_path(id: task.id) %>
    <% end %>
  <% end %>
<% end %>
<br>
<%= link_to 'Back', userprojects_path(id: @userproject.project_id) %>
