<% if @tasks == [] %>
  <p> No task found</p>
<% else %>
  <% @tasks.each do |task| %>
    <p>
      <strong>Task Description:</strong>
      <%= task.description %>
    </p>

    <p>
      <strong>Assigned By:</strong>
      <%= task.assigned_by %>
    </p>

    <p>
      <strong>Assigned To:</strong>
      <%= task.user_id %>
    </p>

    <p>
      <strong>Project Id:</strong>
      <%= task.project_id %>
    </p>
  <% end %>
<% end %>
